<template>
  <div style="height: 100%">
    <div class="title">CREATE NEW PROJECT</div>
    <div class="dialog">
      <div class="new-name">
        <label for=""> NAME </label>
        <div class="name-input">
          <input type="text" v-model="nameProject" />
        </div>
      </div>
    </div>
    <div class="footer">
      <div
        class="cancel"
        @click="
          cancel();
          close();
        "
      >
        Cancel
      </div>
      <div class="submit" @click="create">Oke</div>
    </div>
  </div>
</template>


<script>
import Vue from 'vue'
import DialogMixin from "vuejs-dialog/dist/vuejs-dialog-mixin.min.js";
import Stage from "../../services/state";
import ApiService from "../../services/apiservice";
export default {
  mixins: [DialogMixin],
  data() {
    return {
      nameProject: null,
    };
  },
  methods: {
    create() {
      console.log("hello")
      const payload = {
        projectName: this.nameProject,
        projectInfo: JSON.stringify(Stage.defaultConfig),
      };
      ApiService.newProject(payload).then((res) => {
        console.log(res);
        if (res.code != 200) {
          Vue.$toast.error("CREATE NEW PROJECT ERROR")
          return;
        }
          Vue.$toast.success("CREATE NEW PROJECT SUCCESS")
        this.proceed(res.content);
        this.close();
      });
    },
  },
};
</script>