<template>
  <div style="height: 100%;">
    <div class="title">
      RENAME PROJECT
    </div>
    <div class="dialog">
      <div class="new-name">
        <label for=""> NAME </label>
        <div class="name-input">
          <input type="text" v-model="options.name" />
        </div>
      </div>
    </div>
    <div class="footer">
      <div class="cancel"
      @click="
        proceed();
        close();
      "
    >
      Cancel
    </div>
    <div class="submit"
      @click="
        proceed(options.name);
        close();
      "
    >
      Oke
    </div>
    </div>
  </div>
</template>


<script>
import DialogMixin from "vuejs-dialog/dist/vuejs-dialog-mixin.min.js";
export default {
  mixins: [DialogMixin],
};
</script>
<style scoped>
.item-select {
    display: flex;
    align-items: center;
    border: 1px solid transparent;
    padding: 15px;
    margin: 5px;
    border-radius: 10px;
    background-color: var(--body-bg-color);

}
.dg-main-content{
    max-width: 100px!important;
    height: 400px;
}
</style>