<template>
  <div>
    <div class="i2g-toolbar border-bottom-2px">
      <div class="i2g-tab">
        <div
          class="tab-item always-on"
          ng-click="self.showAllApp = !self.showAllApp"
        >
          <svg
            xmlns="http://www.w3.org/2000/svg"
            width="20"
            height="20"
            viewBox="0 0 43 43"
            style="margin: 0px 20px 0px 10px; cursor: pointer"
          >
            <g
              xmlns="http://www.w3.org/2000/svg"
              id="Group_835"
              data-name="Group 835"
              transform="translate(2657 -2232.734)"
            >
              <rect
                id="Rectangle_136"
                data-name="Rectangle 136"
                width="11"
                height="11"
                transform="translate(-2657 2264.734)"
                fill="#3f84ff"
              ></rect>
              <rect
                id="Rectangle_137"
                data-name="Rectangle 137"
                width="11"
                height="11"
                transform="translate(-2657 2248.734)"
                fill="#3f84ff"
              ></rect>
              <rect
                id="Rectangle_138"
                data-name="Rectangle 138"
                width="11"
                height="11"
                transform="translate(-2657 2232.734)"
                fill="#3f84ff"
              ></rect>
              <rect
                id="Rectangle_139"
                data-name="Rectangle 139"
                width="11"
                height="11"
                transform="translate(-2625 2232.734)"
                fill="#3f84ff"
              ></rect>
              <rect
                id="Rectangle_140"
                data-name="Rectangle 140"
                width="11"
                height="11"
                transform="translate(-2625 2248.734)"
                fill="#3f84ff"
              ></rect>
              <rect
                id="Rectangle_141"
                data-name="Rectangle 141"
                width="11"
                height="11"
                transform="translate(-2641 2264.734)"
                fill="#3f84ff"
              ></rect>
              <rect
                id="Rectangle_142"
                data-name="Rectangle 142"
                width="11"
                height="11"
                transform="translate(-2641 2248.734)"
                fill="#3f84ff"
              ></rect>
              <rect
                id="Rectangle_143"
                data-name="Rectangle 143"
                width="11"
                height="11"
                transform="translate(-2641 2232.734)"
                fill="#3f84ff"
              ></rect>
              <rect
                id="Rectangle_144"
                data-name="Rectangle 144"
                width="11"
                height="11"
                transform="translate(-2625 2264.734)"
                fill="#3f84ff"
              ></rect>
            </g>
          </svg>
        </div>
        <div class="tab-item always-on">
          <div class="tab-name">Project</div>
          <div class="i2g-drop-menu-tab">
            <div class="item-drop" @click="closeModel">
              <svg
                xmlns="http://www.w3.org/2000/svg"
                width="30"
                height="30"
                viewBox="0 0 30 30"
              >
                <g
                  id="Group_145"
                  data-name="Group 145"
                  transform="translate(1526 -1563)"
                >
                  <g
                    id="Ellipse_15"
                    data-name="Ellipse 15"
                    transform="translate(-1526 1563)"
                    fill="transparent"
                    stroke="currentColor"
                    stroke-width="2"
                  >
                    <circle cx="15" cy="15" r="15" stroke="none"></circle>
                    <circle cx="15" cy="15" r="14" fill="none"></circle>
                  </g>
                  <path
                    id="Path_27"
                    data-name="Path 27"
                    d="M-1512.833,1579.5h11.389"
                    transform="translate(-4.036 -1.5)"
                    fill="none"
                    stroke="currentColor"
                    stroke-linecap="round"
                    stroke-width="2"
                  ></path>
                  <path
                    id="Path_28"
                    data-name="Path 28"
                    d="M0,0H11.389"
                    transform="translate(-1511.185 1572.306) rotate(90)"
                    fill="none"
                    stroke="currentColor"
                    stroke-linecap="round"
                    stroke-width="2"
                  ></path>
                </g>
              </svg>
              <div>New</div>
            </div>
            <div class="item-drop" @click="openModel">
              <svg
                xmlns="http://www.w3.org/2000/svg"
                width="32"
                height="24.756"
                viewBox="0 0 32 24.756"
              >
                <g
                  id="Component_2_94"
                  data-name="Component 2 – 94"
                  transform="translate(1 1)"
                >
                  <path
                    id="Path_2"
                    data-name="Path 2"
                    d="M-554.94,390.155v22.756h30V395.425h-13.073l-2.6-5.269Z"
                    transform="translate(554.94 -390.155)"
                    fill="none"
                    stroke="currentColor"
                    stroke-linejoin="round"
                    stroke-width="2"
                  ></path>
                </g>
              </svg>
              <div>Open Model</div>
            </div>
            <div class="space-height-10px"></div>
            <div class="border-bottom-2px"></div>
            <div class="space-height-10px"></div>
          </div>
        </div>
        <div class="space-20px"></div>
        <div style="height: 100%; display: flex; align-items: center">
          <div class="border-left-2px" style="height: 30px"></div>
          <div class="space-20px"></div>
          <svg width="20" height="52.799" viewBox="0 0 67 52.799">
            <defs>
              <linearGradient
                id="linear-gradient"
                x1="0.5"
                x2="0.5"
                y2="0.245"
                gradientUnits="objectBoundingBox"
              >
                <stop offset="0" stop-color="#679eff"></stop>
                <stop offset="1" stop-color="#9dc0ff"></stop>
              </linearGradient>
              <linearGradient
                id="linear-gradient-2"
                x1="0.5"
                x2="0.5"
                y2="1"
                gradientUnits="objectBoundingBox"
              >
                <stop offset="0" stop-color="#508fff"></stop>
                <stop offset="1" stop-color="#3d7cef"></stop>
              </linearGradient>
            </defs>
            <g
              id="Group_171"
              data-name="Group 171"
              transform="translate(-2666 -2409.201)"
            >
              <path
                id="Path_31"
                data-name="Path 31"
                d="M4,1.2s14.13.043,16.6.043,2.759.346,3.852,1.821.657.872,1.894,2.536,2.162,1.606,3.963,1.586S63,7.18,63,7.18a3.785,3.785,0,0,1,4,4.036V50a4,4,0,0,1-4,4H4a4,4,0,0,1-4-4V4C0,1.791,1.791,1.2,4,1.2Z"
                transform="translate(2666 2408)"
                fill="url(#linear-gradient)"
              ></path>
              <path
                id="Path_32"
                data-name="Path 32"
                d="M4,0H63a4,4,0,0,1,4,4V39a4,4,0,0,1-4,4H4a4,4,0,0,1-4-4V4A4,4,0,0,1,4,0Z"
                transform="translate(2733 2462) rotate(180)"
                fill="url(#linear-gradient-2)"
              ></path>
            </g>
          </svg>
        </div>
        <div class="tab-item always-on" @click="openModel">
          <div class="tab-name ng-binding">
            Open project
            <div class="space-20px"></div>
          </div>
        </div>
      </div>
    </div>

    <div style="display: flex; height: 100%">
      <div
        style="
          flex: 1;
          display: flex;
          background: var(--toolbar-bg-color);
          padding: 20px;
          height: 100%;
        "
      >
        <div
          class="block"
          style="
            flex: 1;
            overflow: visible;
            background: var(--toolbar-bg-color);
            padding: 0;
            height: 500px;
          "
        >
          <div
            class="i2g-title-with-icon"
            ng-style="{ 'background' : self.controller.tabs['training'].listDataset.length ? 'var(--primary-color)' : 'var(--button-icon-color)' }"
            style="background: var(--button-icon-color)"
          >
            <div>
              <svg
                ng-style="{ 'transform' : self.showmoreTraining ? 'rotate(180deg)' : 'rotate(0deg)' }"
                ng-click="self.showmoreTraining = !self.showmoreTraining"
                style="cursor: pointer; transform: rotate(0deg)"
                width="16px"
                height="16px"
                viewBox="0 0 16 16"
                version="1.1"
              >
                <path
                  d="M10.7071068,4.70710678 C11.0976311,4.31658249 11.0976311,3.68341751 10.7071068,3.29289322 C10.3165825,2.90236893 9.68341751,2.90236893 9.29289322,3.29289322 L5.29289322,7.29289322 C4.90236893,7.68341751 4.90236893,8.31658249 5.29289322,8.70710678 L9.29289322,12.7071068 C9.68341751,13.0976311 10.3165825,13.0976311 10.7071068,12.7071068 C11.0976311,12.3165825 11.0976311,11.6834175 10.7071068,11.2928932 L7.41421356,8 L10.7071068,4.70710678 Z"
                  id="Path"
                  fill="currentColor"
                  fill-rule="nonzero"
                  transform="translate(8.000000, 8.000000) rotate(-90.000000) translate(-8.000000, -8.000000) "
                ></path>
              </svg>
              <div>Description</div>
            </div>
          </div>
          <div class="space-height-20px"></div>
          <div style="margin: -5px -10px; height: 100%">
            <label>
              <span
                style="
                  display: block;
                  margin: 16px 0px;
                  font-size: 20px;
                  font-weight: 500;
                  border: 1px solid transparent !important;
                "
                >Description</span
              >
              <textarea
                v-model="description"
                style="width: 100%; height: 300px; resize: none"
                cols="30"
                rows="10"
              ></textarea>
            </label>
            <label>
              <span
                style="
                  display: block;
                  margin: 16px 0px;
                  font-size: 20px;
                  font-weight: 500;
                  border: 1px solid transparent !important;
                "
                >API
              </span>
              <div
                class="div-api"
                style="width: 100%; height: 300px; resize: none"
                cols="30"
                rows="10"
              >
                <div>
                  <div class="api-block">
                    <div class="api-title">API PUT DATA:</div>
                    <span class="api-span">/api/model/put</span>
                    <div class="api-span">Method: POST</div>
                    <div class="api-span">
                      Params:
                      <span
                        >{ token: "", accessToken: "", "document": "", "tag" :
                        ""}</span
                      >
                    </div>
                  </div>
                  <div class="api-block">
                    <div class="api-title">API TRAIN DATA:</div>
                    <span class="api-span">/api/model/train</span>
                    <div class="api-span">Method: POST</div>
                    <div class="api-span">
                      Params: <span>{ token: "", accessToken: ""}</span>
                    </div>
                  </div>
                  <div class="api-block">
                    <div class="api-title">API PREDICT DATA:</div>
                    <span class="api-span">/api/model/predict</span>
                    <div class="api-span">Method: POST</div>
                    <div class="api-span">
                      Params:
                      <span>{ token: "", accessToken: "", "document": ""}</span>
                    </div>
                  </div>
                </div>
              </div>
            </label>
          </div>
        </div>
      </div>
      <div class="setting">
        <div class="title-with-btn">
          Model Config
          <div>
            <div @click="refreshToken">
              <svg width="16px" height="16px" viewBox="0 0 16 16" version="1.1">
                <path
                  d="M12.6233804,6.08608223 C12.8678466,6.67561497 13.0027741,7.32205048 13.0027741,8 L15.0027741,8 C15.0027741,7.05087067 14.8138756,6.14586096 14.4716229,5.32051512 C15.521423,7.85780063 15.0150559,10.8872132 12.9525216,12.9497475 C10.2188516,15.6834175 5.78669671,15.6834175 3.05302667,12.9497475 L4.46724023,11.5355339 C6.41986169,13.4881554 9.58568658,13.4881554 11.538308,11.5355339 C13.0027741,10.0710678 13.3688907,7.92417477 12.6366576,6.1184952 C11.850808,4.25919913 10.0738419,3 8.00277414,3 C5.24135039,3 3.00277414,5.23857625 3.00277414,8 L1.00277414,8 C1.00277414,4.13400675 4.13678089,1 8.00277414,1 C9.93577074,1 11.6857707,1.78350167 12.9525216,3.05025249 L11.538308,4.46446609 C12.0176907,4.9438488 12.3793815,5.49635589 12.6233804,6.08608223 Z"
                  id="Combined-Shape"
                  fill-rule="nonzero"
                ></path>
                <path
                  d="M12.4142136,4 L13.7071068,2.70710678 C14.0976311,2.31658249 14.0976311,1.68341751 13.7071068,1.29289322 C13.3165825,0.902368927 12.6834175,0.902368927 12.2928932,1.29289322 L10.2928932,3.29289322 C9.90236893,3.68341751 9.90236893,4.31658249 10.2928932,4.70710678 L12.2928932,6.70710678 C12.6834175,7.09763107 13.3165825,7.09763107 13.7071068,6.70710678 C14.0976311,6.31658249 14.0976311,5.68341751 13.7071068,5.29289322 L12.4142136,4 Z"
                  id="Line-2"
                  fill-rule="nonzero"
                  transform="translate(12.000000, 4.000000) rotate(-135.000000) translate(-12.000000, -4.000000) "
                ></path>
                <path
                  d="M5.20710678,10.7071068 C5.59763107,10.3165825 5.59763107,9.68341751 5.20710678,9.29289322 C4.81658249,8.90236893 4.18341751,8.90236893 3.79289322,9.29289322 L1.79289322,11.2928932 C1.40236893,11.6834175 1.40236893,12.3165825 1.79289322,12.7071068 L3.79289322,14.7071068 C4.18341751,15.0976311 4.81658249,15.0976311 5.20710678,14.7071068 C5.59763107,14.3165825 5.59763107,13.6834175 5.20710678,13.2928932 L3.91421356,12 L5.20710678,10.7071068 Z"
                  id="Line-2"
                  fill-rule="nonzero"
                  transform="translate(3.500000, 12.000000) rotate(-315.000000) translate(-3.500000, -12.000000) "
                ></path>
              </svg>
            </div>
          </div>
        </div>

        <form>
          <label>
            <span>Name model:</span>
            <input v-model="modelName" type="text" />
          </label>
          <label>
            <span>Key:</span>
            <input v-model="key" type="text" disabled />
          </label>
          <label>
            <span>Token:</span>
            <input v-model="token" type="text" :disabled="!model" />
          </label>
          <label>
            <span>Algorithm:</span>
            <select v-model="algorithrm">
              <option value="multinomial">Multinomial</option>
              <option value="gaussian">Gaussian</option>
            </select>
          </label>
          <label>
            <span>Smoothing</span>
            <input v-model="smoothing" type="number" />
          </label>
          <label>
            <span>Stopwords</span>
            <select v-model="stopwords">
              <option value="true">True</option>
              <option value="false">False</option>
            </select>
          </label>
          <label>
            <span>Use TFIDF</span>
            <select v-model="tdidf">
              <option value="true">True</option>
              <option value="false">False</option>
            </select>
          </label>
          <label>
            <span>Private</span>
            <select v-model="privated">
              <option value="true">True</option>
              <option value="false">False</option>
            </select>
          </label>
          <input
            type="submit"
            :value="model ? 'Update' : 'Create'"
            @click.prevent="updateModel"
            style="margin-top: 30px"
          />
        </form>
      </div>
    </div>
  </div>
</template>
<script>
import Vue from "vue";
import ApiService from "../../services/apiservice";
import state from "../../services/state";
export default {
  created() {
    this.dialog = Vue.dialog;
    this.model = null;
    this.dialog
      .alert("", {
        view: "SelectProject",
        backdropClose: false,
      })
      .then((res) => {
        console.log(res.data);
        if (!res) return;
        this.model = res.data;
        state.model = res.data;
        this.model.configParse = JSON.parse(this.model.config);
        this.modelName = this.model.modelName;
        this.key = this.model.key;
        this.token = this.model.token;
        this.privated = this.model.private;
        this.algorithrm = this.model.configParse.type;
        this.smoothing = this.model.configParse.smoothing;
        this.stopwords = this.model.configParse.stopwords;
        this.tdidf = this.model.configParse.tdidf;
        this.description = this.model.description;
        Vue.$toast.success("OPEN PROJECT SUCCESS");
      })
      .catch((res) => {});
  },
  data() {
    return {
      model: null,
      modelName: "",
      key: "",
      token: "",
      algorithrm: "multinomial",
      smoothing: 1,
      stopwords: true,
      tdidf: true,
      privated: true,
      description: "",
    };
  },
  methods: {
    updateModel() {
      let config = {
        type: this.algorithrm,
        tdidf: this.tdidf,
        smoothing: this.smoothing,
        stopwords: this.stopwords,
      };
      let payload = {
        modelName: this.modelName,
        config,
        private: this.privated,
        description: this.description,
      };
      if (!this.model) {
        ApiService.createModel(payload).then((res) => {
          console.log(res);
          if (res.code != 200) {
            Vue.$toast.error("SOME THING WENT ERROR");
          }
          this.model = res.content;
          state.model = res.content;
          this.key = this.model.key;
          this.token = this.model.token;
          Vue.$toast.success("CREATE MODEL SUCCESS");
        });
      } else {
        payload.idModel = this.model.idModel;
        ApiService.updateModel(payload).then((res) => {
          if (res.code != 200) {
            Vue.$toast.error("SOME THING WENT ERROR");
          }
          this.model = res.content;
          state.model = res.content;
          this.key = this.model.key;
          this.token = this.model.token;
          Vue.$toast.success("UPDATE MODEL SUCCESS");
        });
      }
    },
    openModel() {
      this.model = null;
      this.dialog
        .alert("", {
          view: "SelectProject",
          backdropClose: false,
        })
        .then((res) => {
          if (!res) return;
          this.model = res.data;
          state.model = res.data;
          this.model.configParse = JSON.parse(this.model.config);
          this.modelName = this.model.modelName;
          this.key = this.model.key;
          this.token = this.model.token;
          this.privated = this.model.private;
          this.algorithrm = this.model.configParse.type;
          this.smoothing = this.model.configParse.smoothing;
          this.stopwords = this.model.configParse.stopwords;
          this.tdidf = this.model.configParse.tdidf;
          this.description = this.model.description;
          Vue.$toast.success("OPEN PROJECT SUCCESS");
        })
        .catch((res) => {});
    },
    closeModel() {
      this.model = null;
      state.model = null;
      this.modelName = "";
      this.key = "";
      this.token = "";
      this.privated = true;
      this.algorithrm = "multinomial";
      this.smoothing = 1;
      this.stopwords = true;
      this.tdidf = true;
      this.description = "";
      Vue.$toast.success("NEW MODEL");
    },
    refreshToken() {
      if(!this.model) {
        return;
      }
      ApiService.refreshToken({
        idModel: this.model.idModel
      })
      .then((res) => {
        console.log(res)
        let model = res.content
        this.model.token = model.token
        state.model.token = model.token
        this.token = model.token
      })
    }
  },
};
</script>
<style scoped>
.div-api {
  height: 300px;
  resize: none;
  font-weight: 400 !important;
  width: 100% !important;
  box-sizing: border-box !important;
  padding: 11px 16px;
  outline: none !important;
  border-radius: 8px !important;
  transition: background-color 200ms ease, outline 200ms ease, color 200ms ease,
    box-shadow 200ms ease;
  -webkit-appearance: none !important;
  -moz-appearance: none !important;
  appearance: none !important;
  color: var(--text-primary-color) !important;
  background-color: var(--input-bg) !important;
}
.api-block {
  margin: 10px;
}

.api-title {
  font-size: 20px;
  font-weight: 500;
}
.api-span {
  font-size: 18px;
  margin: 10px 10px;
  display: inline-block;
}
</style>