<template>
      <div style="display: flex; height: 100%;">
        <div
          style="
            flex: 1;
            display: flex;
            background: var(--toolbar-bg-color);
            padding: 20px;
            height: 100%;
          "
        >
          <div
            class="block"
            style="
              flex: 2 1 0%;
              overflow: visible;
              background: var(--toolbar-bg-color);
              padding: 0;
              height: 500px;
            "
          >
            <div
              class="i2g-title-with-icon"
              style="background: var(--button-icon-color)"
            >
              <div>
                <svg
                  ng-click="self.showmoreTraining = !self.showmoreTraining"
                  style="cursor: pointer; transform: rotate(0deg)"
                  width="16px"
                  height="16px"
                  viewBox="0 0 16 16"
                  version="1.1"
                >
                  <path
                    d="M10.7071068,4.70710678 C11.0976311,4.31658249 11.0976311,3.68341751 10.7071068,3.29289322 C10.3165825,2.90236893 9.68341751,2.90236893 9.29289322,3.29289322 L5.29289322,7.29289322 C4.90236893,7.68341751 4.90236893,8.31658249 5.29289322,8.70710678 L9.29289322,12.7071068 C9.68341751,13.0976311 10.3165825,13.0976311 10.7071068,12.7071068 C11.0976311,12.3165825 11.0976311,11.6834175 10.7071068,11.2928932 L7.41421356,8 L10.7071068,4.70710678 Z"
                    id="Path"
                    fill="currentColor"
                    fill-rule="nonzero"
                    transform="translate(8.000000, 8.000000) rotate(-90.000000) translate(-8.000000, -8.000000) "
                  ></path>
                </svg>
                <div>Predict</div>
              </div>
            </div>
            <div class="space-height-20px"></div>
            <div style="margin: -5px -10px; height: 100%">
                <label>
                    <span style="display: block; margin: 16px 0px; font-size: 20px; font-weight: 500;border: 1px solid transparent !important;">Paragraph</span>
                    <textarea v-model="document" style="width: 100%; height: 300px; resize: none;" cols="30" rows="10"></textarea>
                </label>
            </div>
          </div>
          <div class="space-20px"></div>
          <div
            class="block"
            style="
              flex: 1;
              overflow: visible;
              background: var(--toolbar-bg-color);
              padding: 0;
            "
          >
            <div
              class="i2g-title-with-icon"
              ng-style="{ 'background' : self.controller.tabs['prediction'].listDataset.length ? 'var(--primary-color)' : 'var(--button-icon-color)' }"
              style="background: var(--button-icon-color)"
            >
              <div>
                <svg
                  style="cursor: pointer; transform: rotate(0deg)"
                  width="16px"
                  height="16px"
                  viewBox="0 0 16 16"
                  version="1.1"
                >
                  <path
                    d="M10.7071068,4.70710678 C11.0976311,4.31658249 11.0976311,3.68341751 10.7071068,3.29289322 C10.3165825,2.90236893 9.68341751,2.90236893 9.29289322,3.29289322 L5.29289322,7.29289322 C4.90236893,7.68341751 4.90236893,8.31658249 5.29289322,8.70710678 L9.29289322,12.7071068 C9.68341751,13.0976311 10.3165825,13.0976311 10.7071068,12.7071068 C11.0976311,12.3165825 11.0976311,11.6834175 10.7071068,11.2928932 L7.41421356,8 L10.7071068,4.70710678 Z"
                    id="Path"
                    fill="currentColor"
                    fill-rule="nonzero"
                    transform="translate(8.000000, 8.000000) rotate(-90.000000) translate(-8.000000, -8.000000) "
                  ></path>
                </svg>
                <div>Result</div>
              </div>
            </div>
            <div class="space-height-20px"></div>
           
            <div class="i2g-list-card" style="display: block;">
              <div class="item ng-scope" v-for="(tag, index) in listTags" :key="index">
              <div>
                <div style="font-size: 20px;">
                  <div><span>Predict: </span>  <span style="font-weight: 500"> {{ tag.label }} </span></div>
                  <div class="space-height-20px"></div>
                  <div><span> Value: </span> <span style="font-weight: 500"> {{ tag.value}} </span> </div>
                </div>
              </div>
            </div>
            </div>
          </div>
        </div>
        <div class="setting">
          <div class="title-with-btn">
            Model Config
          </div>

          <form>
            <input
              type="submit"
              value="Predict"
              @click.prevent="predict"
              style="margin-top: 30px"
            />
          </form>
        </div>
      </div>
</template>
<script>
import state from '../../services/state'
import ApiService from '../../services/apiservice'
import Vue from 'vue'
export default {
  created() {
    this.state = state
  },
  data() {
    return {
      document: "",
      listTags: []
    }
  },
  methods: {
    predict() {
      ApiService.predict({
        key: state.model.key,
        accessToken: state.model.token,
        document: this.document
      })
      .then(res => {
        console.log(res)
        if(res.code != 200) {
          Vue.$toast.error("SOME THING WENT ERROR");
          return;
        }
        this.listTags = res.content
          Vue.$toast.success("PREDICT SUCCESS");
      })
      .catch(() => {
          Vue.$toast.error("SOME THING WENT ERROR");
      })
    }
  }
}
</script>