<template>
      <div style="display: flex; height: 100%;">
        <div
          style="
            flex: 1;
            display: flex;
            background: var(--toolbar-bg-color);
            padding: 20px;
            height: 100%;
          "
        >
          <div
            class="block"
            style="
              flex: 5 1 0%;
              overflow: visible;
              background: var(--toolbar-bg-color);
              padding: 0;
              height: 500px;
            "
          >
            <div
              class="i2g-title-with-icon"
              style="background: var(--button-icon-color)"
            >
              <div>
                <svg
                  ng-click="self.showmoreTraining = !self.showmoreTraining"
                  style="cursor: pointer; transform: rotate(0deg)"
                  width="16px"
                  height="16px"
                  viewBox="0 0 16 16"
                  version="1.1"
                >
                  <path
                    d="M10.7071068,4.70710678 C11.0976311,4.31658249 11.0976311,3.68341751 10.7071068,3.29289322 C10.3165825,2.90236893 9.68341751,2.90236893 9.29289322,3.29289322 L5.29289322,7.29289322 C4.90236893,7.68341751 4.90236893,8.31658249 5.29289322,8.70710678 L9.29289322,12.7071068 C9.68341751,13.0976311 10.3165825,13.0976311 10.7071068,12.7071068 C11.0976311,12.3165825 11.0976311,11.6834175 10.7071068,11.2928932 L7.41421356,8 L10.7071068,4.70710678 Z"
                    id="Path"
                    fill="currentColor"
                    fill-rule="nonzero"
                    transform="translate(8.000000, 8.000000) rotate(-90.000000) translate(-8.000000, -8.000000) "
                  ></path>
                </svg>
                <div>Description</div>
              </div>
              <span class="ng-binding"> 0 </span>
            </div>
            <div class="space-height-20px"></div>
            <div style="margin: -5px -10px; height: 100%">
                <label>
                    <span style="display: block; margin: 16px 0px; font-size: 20px; font-weight: 500;border: 1px solid transparent !important;">Paragraph</span>
                    <textarea v-model="document" style="width: 100%; height: 300px; resize: none;" cols="30" rows="10"></textarea>
                </label>
                <label>
                    <span style="display: block; margin: 16px 0px; font-size: 20px; font-weight: 500;">Tag of paragraph</span>
                    <input type="text" v-model="tag">
                </label>
                <input type="submit" @click.prevent="pushData" value="Push" style="display: block; margin: 32px auto; width: 50px!important;">
            </div>
          </div>
          <div class="space-20px"></div>
          <div
            class="block"
            style="
              flex: 1;
              overflow: visible;
              background: var(--toolbar-bg-color);
              padding: 0;
            "
          >
            <div
              class="i2g-title-with-icon"
              ng-style="{ 'background' : self.controller.tabs['prediction'].listDataset.length ? 'var(--primary-color)' : 'var(--button-icon-color)' }"
              style="background: var(--button-icon-color)"
            >
              <div>
                <svg
                  style="cursor: pointer; transform: rotate(0deg)"
                  width="16px"
                  height="16px"
                  viewBox="0 0 16 16"
                  version="1.1"
                >
                  <path
                    d="M10.7071068,4.70710678 C11.0976311,4.31658249 11.0976311,3.68341751 10.7071068,3.29289322 C10.3165825,2.90236893 9.68341751,2.90236893 9.29289322,3.29289322 L5.29289322,7.29289322 C4.90236893,7.68341751 4.90236893,8.31658249 5.29289322,8.70710678 L9.29289322,12.7071068 C9.68341751,13.0976311 10.3165825,13.0976311 10.7071068,12.7071068 C11.0976311,12.3165825 11.0976311,11.6834175 10.7071068,11.2928932 L7.41421356,8 L10.7071068,4.70710678 Z"
                    id="Path"
                    fill="currentColor"
                    fill-rule="nonzero"
                    transform="translate(8.000000, 8.000000) rotate(-90.000000) translate(-8.000000, -8.000000) "
                  ></path>
                </svg>
                <div>Tags</div>
              </div>
              <span class="ng-binding"> 0 </span>
            </div>
            <div class="space-height-20px"></div>
           
            <div class="i2g-list-card">
              <div class="item ng-scope" v-for="(tag, index) in listTags" :key="index">
              <div>
                <div>
                  {{ tag }}
                </div>
              </div>
            </div>
            </div>
          </div>
        </div>
        <div class="setting">
          <div class="title-with-btn">
            Model Config
          </div>

          <form>
            <input
              type="submit"
              value="Train Model"
              @click.prevent="trainModel"
              style="margin-top: 30px"
            />
          </form>
        </div>
      </div>
</template>
<script>
import state from '../../services/state'
import ApiService from '../../services/apiservice'
import Vue from 'vue'
export default {
  created() {
    console.log(state.model)
    this.state = state
    let self = this
    if(state.model && state.model.idModel) {
        ApiService.getTagOfModel({
          idModel: state.model.idModel
        })
        .then(res => {
          let data = res.content;
          self.listTags = res.content.map(c => c.tag)
          console.log(self.listTags)
        })
    }
  },
  data() {
    return {
      document: "",
      tag: "",
      listTags: []
    }
  },
  methods: {
    pushData() {
      let self = this
      console.log(state.model)
      ApiService.put({
        document: this.document,
        tag: this.tag,
        key: state.model.key,
        accessToken: state.model.token
      })
      .then(res => {
        console.log(res)
        if(res.code != 200 ) {
          Vue.$toast.error("PUSH DATA GET ERROR");
          return
        }
        if(!self.listTags.includes(self.tag)) {
          self.listTags.push(self.tag)
        }
        Vue.$toast.success("PUSH DATA SUCCESS");
      })
      .catch(() => {
          Vue.$toast.error("SOME THING WENT ERROR");
      })
    },
    trainModel() {
      ApiService.train({
        key: state.model.key,
        accessToken: state.model.token
      })
      .then(res => {
        console.log(res)
        if(res.code != 200) {
          Vue.$toast.error("SOME THING WENT ERROR");
          return
        }
        Vue.$toast.success("TRAIN MODEL SUCCESS");
      })
      .catch(() => {
        Vue.$toast.error("SOME THING WENT ERROR");
      })
    }
  },
  watch: {
    'stage.model' : () => {
      let self = this
      if(this.state.model && this.state.model.idModel) {
        ApiService.getTagOfModel({
          idModel: this.state.model.idModel
        })
        .then(res => {
          let data = res.content;
          self.listTags = res.content.map(c => c.tag)
          console.log(self.listTags)
        })
    }
    }
  }
}
</script>