<template>
  <div class="dialog-inline">
    <div class="title">
      OPEN PROJECT
    </div>
    <div class="dialog dialog-collection">
      <div class="list-image">
        <!-- <div v-for="(image, key) in listImage" :key="key" @click="imageSelected = image">
          {{ image.name }}
          <div @click="deleteImage(image)">X</div>
        </div> -->

        <div class="form-select">
          <div
            v-for="(image, index) in listImage"
            :key="index"
            @click="imageSelected = image"
            class="item-select"
            :class="{active: imageSelected == image}"
            style="display: block;"
          >
            <span style="font-weight: bold"> </span>{{ image.name }}
             <div class="item-icon"  style="border-radius: 1px; float:right; display: flex; align-items: center;" @click="deleteImage(image)"><svg width="16px" height="16px" viewBox="0 0 16 16" version="1.1"> <path d="M4,5 C4.55228475,5 5,5.44771525 5,6 L5,14 C5,14.5522847 4.55228475,15 4,15 C3.44771525,15 3,14.5522847 3,14 L3,6 C3,5.44771525 3.44771525,5 4,5 Z" id="Path" fill-rule="nonzero"></path> <path d="M8,5 C8.55228475,5 9,5.44771525 9,6 L9,14 C9,14.5522847 8.55228475,15 8,15 C7.44771525,15 7,14.5522847 7,14 L7,6 C7,5.44771525 7.44771525,5 8,5 Z" id="Path" fill-rule="nonzero"></path> <path d="M4,13 L12,13 C12.5522847,13 13,13.4477153 13,14 C13,14.5522847 12.5522847,15 12,15 L4,15 C3.44771525,15 3,14.5522847 3,14 C3,13.4477153 3.44771525,13 4,13 Z" id="Path" fill-rule="nonzero"></path> <path d="M5,1 L11,1 C11.5522847,1 12,1.44771525 12,2 C12,2.55228475 11.5522847,3 11,3 L5,3 C4.44771525,3 4,2.55228475 4,2 C4,1.44771525 4.44771525,1 5,1 Z" id="Path" fill-rule="nonzero"></path> <path d="M2,4 L14,4 C14.5522847,4 15,4.44771525 15,5 C15,5.55228475 14.5522847,6 14,6 L2,6 C1.44771525,6 1,5.55228475 1,5 C1,4.44771525 1.44771525,4 2,4 Z" id="Path" fill-rule="nonzero"></path> <path d="M12,5 C12.5522847,5 13,5.44771525 13,6 L13,14 C13,14.5522847 12.5522847,15 12,15 C11.4477153,15 11,14.5522847 11,14 L11,6 C11,5.44771525 11.4477153,5 12,5 Z" id="Path" fill-rule="nonzero"></path> </svg></div>
          </div>
        </div>
        
      </div>
      <div class="image">
        <img style="display: block; margin: auto;" width="50%" v-if="imageSelected != null" :src="BASE_URL + imageSelected.path" alt="">
      </div>
    </div>
    <div class="footer">
      <div class="cancel"
        @click="
          proceed();
          close();
        "
      >
        Cancel
      </div>
      <div class="submit"
        @click="
          proceed(imageSelected);
          close();
        "
        :disabled="!imageSelected"
      >
        Oke
      </div>
    </div>
  </div>
</template>

<script>
import DialogMixin from "vuejs-dialog/dist/vuejs-dialog-mixin.min.js";
import ApiService from "../../services/apiservice";
import Config from "../../config/default.json";
export default {
  mixins: [DialogMixin],
  created() {
    ApiService.listImage().then((res) => {
      this.listImage = res.content;
    });
    this.BASE_URL = Config.BASE_URL
  },
  data() {
    return {
      imageSelected: null,
      listImage: [],
    };
  },
  methods: {
    cancel() {
      this.cancel(false);
    },
    ok() {
      this.proceed(this.imageSelected);
    },
    deleteImage(image) {
      ApiService.deleteImage({ idImage: image.idImage }).then((res) => {
        if (res.code === 200) {
          this.listImage.splice(this.listImage.indexOf(image), 1);
        }
      });
    },
  },
};
</script>
<style scoped>
.dialog-inline {
    display: block;
    width: 1120px;
    height: 595px;
    background: #fff;
    position: relative;
    border-radius: 5px;
    overflow: hidden;
    left: -280px;
    top: -16px;
    padding: 24px;
}
.dialog-collection {
  display: flex;
}
.list-image {
  width: 60%;
}
.image {
  width: 40%;
  border: 1px solid #3333334f;
  border-radius: 6px;
  overflow: hidden;
}
.item-select {
  display: flex;
  align-items: center;
  border: 1px solid transparent;
  padding: 15px;
  margin: 5px;
  border-radius: 10px;
  background-color: var(--body-bg-color);
}
</style>