<template>
      <div style="display: flex; height: 100%;width: 100%; overflow: scroll;">
        <div
          style="
            flex: 1;
            display: flex;
            background: var(--toolbar-bg-color);
            padding: 20px;
            height: 100%;
          "
        >
          <div
            class="block"
            style="
              flex: 1;
              overflow: visible;
              background: var(--toolbar-bg-color);
              padding: 0;
              height: 500px;
            "
          >
            <div
              class="i2g-title-with-icon"
              ng-style="{ 'background' : self.controller.tabs['training'].listDataset.length ? 'var(--primary-color)' : 'var(--button-icon-color)' }"
              style="background: var(--button-icon-color)"
            >
              <div>
                <svg
                  ng-style="{ 'transform' : self.showmoreTraining ? 'rotate(180deg)' : 'rotate(0deg)' }"
                  ng-click="self.showmoreTraining = !self.showmoreTraining"
                  style="cursor: pointer; transform: rotate(0deg)"
                  width="16px"
                  height="16px"
                  viewBox="0 0 16 16"
                  version="1.1"
                >
                  <path
                    d="M10.7071068,4.70710678 C11.0976311,4.31658249 11.0976311,3.68341751 10.7071068,3.29289322 C10.3165825,2.90236893 9.68341751,2.90236893 9.29289322,3.29289322 L5.29289322,7.29289322 C4.90236893,7.68341751 4.90236893,8.31658249 5.29289322,8.70710678 L9.29289322,12.7071068 C9.68341751,13.0976311 10.3165825,13.0976311 10.7071068,12.7071068 C11.0976311,12.3165825 11.0976311,11.6834175 10.7071068,11.2928932 L7.41421356,8 L10.7071068,4.70710678 Z"
                    id="Path"
                    fill="currentColor"
                    fill-rule="nonzero"
                    transform="translate(8.000000, 8.000000) rotate(-90.000000) translate(-8.000000, -8.000000) "
                  ></path>
                </svg>
                <div>List model public</div>
              </div>
            </div>
            <div class="space-height-20px"></div>
            <div style="margin: -5px -10px; height: 100%">
                <label>
                    <span style="display: block; margin: 16px 0px; font-size: 20px; font-weight: 500;border: 1px solid transparent !important;">LIST MODEL </span>
                    <div v-for="(model, index) in listModels" :key="index" class="div-api" style="width: 100%; margin-bottom: 10px;" cols="30" rows="10">
                        <div>
                          <div class="api-block">
                            <div class="api-title"> {{ model.modelName }} </div> 
                            <div>Key: <span class="api-span">{{ model.key }} </span></div>
                            <div>Token <span class="api-span">{{ model.token }}  </span></div>
                          </div>
                          <span style="font-weight: 500;">Config</span>
                          <div class="api-config">
                              <div class="item-config">
                                  Algorithm: <span class="value-config">{{ model.configParse.type }}</span>
                              </div>
                              <div class="item-config">
                                  Smoothing <span class="value-config">{{ model.configParse.smoothing }}</span>
                              </div>
                              <div class="item-config">
                                  Stopwords <span class="value-config">{{ model.configParse.stopwords }}</span>
                              </div>
                              <div class="item-config">
                                  TDIDF: <span class="value-config">{{ model.configParse.tdidf }}</span>
                              </div>
                          </div>
                          <span style="font-weight: 500;">Description</span>
                          <div class="api-description">
                              {{ model.description }}
                          </div>
                        </div>
                    </div>
                </label>
            </div>
          </div>
        </div>
      </div>
</template>
<script>
import Vue from 'vue'
import ApiService from '../services/apiservice'
import state from '../services/state'
export default {
    created() {
        ApiService.getListModelPublic()
        .then(res => {
            console.log(res)
            this.listModels = (res.content || []).map(i => {
                i.configParse = JSON.parse(i.config)
                return i
            })
        })
    },
    data() {
      return {
        listModels: []
      }
    },
    methods: {
      
    }
}
</script>
<style scoped>
.div-api {
  /* height: 300px; */
  resize: none;
  font-weight: 400 !important;
  width: 100% !important;
  box-sizing: border-box !important;
  padding: 11px 16px;
  outline: none !important;
  border-radius: 8px !important;
  transition: background-color 200ms ease, outline 200ms ease, color 200ms ease, box-shadow 200ms ease;
  -webkit-appearance: none !important;
  -moz-appearance: none !important;
  appearance: none !important;
  color: var(--text-primary-color) !important;
  background-color: var(--input-bg) !important;
}
.api-block {
  margin: 10px;
}

.api-description {
  margin: 10px;
  max-height: 100px;
  /* height: 100px; */
  overflow: scroll;
}
.api-config {
  margin: 10px;
}

.api-title {
  font-size: 20px;
  font-weight: 500;
}
.api-span {
    font-size: 18px;
    margin: 10px 10px;
    display: inline-block;
}
.item-config {
    margin: 10px;
    font-size: 16px;
}
.value-config {
    font-weight: 600;
}
</style>