<template>
  <div class="app-area">
    <div class="block" style="flex: 1; overflow: visible; width: 100%">
    <ConfigComponent v-show="currentTab == 0"> </ConfigComponent>
    <TrainAndPushComponent v-if="currentTab == 1"></TrainAndPushComponent>
    <PredictComponent v-show="currentTab == 2"></PredictComponent>
    </div>
    <div class="i2g-tab-icon">
      <div
        title="Config"
        :class="{ active: currentTab == 0}"
        @click="switchTab(0)"
      >
        <svg
          width="16px"
          height="16px"
          viewBox="0 0 16 16"
          version="1.1"
          class=""
        >
          <path
            d="M1.5,8 L6.5,8 C7.05228475,8 7.5,8.44771525 7.5,9 L7.5,14 C7.5,14.5522847 7.05228475,15 6.5,15 L1.5,15 C0.94771525,15 0.5,14.5522847 0.5,14 L0.5,9 C0.5,8.44771525 0.94771525,8 1.5,8 Z"
            id="Path"
            fill-rule="nonzero"
          ></path>
          <path
            d="M9.5,1 L14.5,1 C15.0522847,1 15.5,1.44771525 15.5,2 L15.5,10 C15.5,10.5522847 15.0522847,11 14.5,11 L9.5,11 C8.94771525,11 8.5,10.5522847 8.5,10 L8.5,2 C8.5,1.44771525 8.94771525,1 9.5,1 Z"
            id="Path"
            fill-rule="nonzero"
          ></path>
          <path
            d="M1.5,1 L6.5,1 C7.05228475,1 7.5,1.44771525 7.5,2 L7.5,6 C7.5,6.55228475 7.05228475,7 6.5,7 L1.5,7 C0.94771525,7 0.5,6.55228475 0.5,6 L0.5,2 C0.5,1.44771525 0.94771525,1 1.5,1 Z"
            id="Path"
            fill-rule="nonzero"
          ></path>
        </svg>
      </div>
      <div
        title="Train And Push Data"
        :class="{active: currentTab == 1}"
        @click="switchTab(1)"
      >
        <svg
          xmlns="http://www.w3.org/2000/svg"
          xmlns:xlink="http://www.w3.org/1999/xlink"
          width="16px"
          height="16px"
          viewBox="0 0 16 16"
          version="1.1"
          class="font-14"
        >
          <path
            d="M8,15 C11.8659932,15 15,11.8659932 15,8 C15,4.13400675 11.8659932,1 8,1 C4.13400675,1 1,4.13400675 1,8 C1,11.8659932 4.13400675,15 8,15 Z"
            id="Path"
            fill-rule="nonzero"
          ></path>
          <path
            d="M6.74264069,6.94974747 L10.7426407,6.94974747 C11.2949254,6.94974747 11.7426407,7.39746272 11.7426407,7.94974747 C11.7426407,8.50203222 11.2949254,8.94974747 10.7426407,8.94974747 L6.74264069,8.94974747 C6.19035594,8.94974747 5.74264069,8.50203222 5.74264069,7.94974747 C5.74264069,7.39746272 6.19035594,6.94974747 6.74264069,6.94974747 Z"
            id="Path"
            fill="var(--toolbar-bg-color)"
            fill-rule="nonzero"
            transform="translate(8.742641, 7.949747) rotate(-225.000000) translate(-8.742641, -7.949747) "
          ></path>
          <path
            d="M6.62132034,6.65685425 C7.17360509,6.65685425 7.62132034,7.1045695 7.62132034,7.65685425 L7.62132034,9.65685425 C7.62132034,10.209139 7.17360509,10.6568542 6.62132034,10.6568542 C6.06903559,10.6568542 5.62132034,10.209139 5.62132034,9.65685425 L5.62132034,7.65685425 C5.62132034,7.1045695 6.06903559,6.65685425 6.62132034,6.65685425 Z"
            id="Path"
            fill="var(--toolbar-bg-color)"
            fill-rule="nonzero"
            transform="translate(6.621320, 8.656854) rotate(-225.000000) translate(-6.621320, -8.656854) "
          ></path>
        </svg>
      </div>
      <div
        title="Predict Data"
        :class="{active: currentTab == 2}"
        @click="switchTab(2)"
      >
        <svg
          xmlns="http://www.w3.org/2000/svg"
          xmlns:xlink="http://www.w3.org/1999/xlink"
          width="16px"
          height="16px"
          viewBox="0 0 16 16"
          version="1.1"
        >
          <path
            d="M5,0 L11,0 C12.1045695,-2.02906125e-16 13,0.8954305 13,2 L13,14 C13,15.1045695 12.1045695,16 11,16 L5,16 C3.8954305,16 3,15.1045695 3,14 L3,2 C3,0.8954305 3.8954305,2.02906125e-16 5,0 Z"
            id="Path"
            fill-rule="nonzero"
            opacity="0.356282552"
          ></path>
          <path
            d="M5,3 L11,3 C12.1045695,3 13,3.8954305 13,5 L13,9 C13,10.1045695 12.1045695,11 11,11 L5,11 C3.8954305,11 3,10.1045695 3,9 L3,5 C3,3.8954305 3.8954305,3 5,3 Z"
            id="Path"
            fill-rule="nonzero"
          ></path>
        </svg>
      </div>
    </div>
  </div>
</template>

<script>
import state from "../services/state";
import ConfigComponent from "../components/app/Config"
import TrainAndPushComponent from "../components/app/TrainAndPush"
import PredictComponent from "../components/app/Predict"
import Vue from 'vue'

export default {
  name: "MainLayout",
  components: {
    ConfigComponent,
    TrainAndPushComponent,
    PredictComponent
  },
  created() {
    this.state = state
  },
  data() {
    return {
      currentTab: 0
    };
  },
  mounted() {},
  methods: {
    switchTab(value) {
      if(value && !state.model) {
        Vue.$toast.warning("PLEASE SELECT MODEL");
        return
      }else {
        this.currentTab = value;
      }
    }
  },
};
</script>
<style lang="less">
.app-area {
  display: flex;
  height: 100%;
  flex: 1;
  width: 100%;
  position: relative;
}
.tab {
  display: flex;
  align-items: flex-end;
  margin-bottom: 15px;
  & > *:last-child {
    width: 100%;
    pointer-events: none;
  }
  & > div {
    cursor: pointer;
    border-bottom: 2px solid #ddd;
    padding: 0 15px 20px 15px;
    color: #969696;
    &:hover {
      border-bottom: 2px solid #0573c7;
      color: #000;
    }
  }
  .active {
    border-bottom: 2px solid #0573c7;
    color: #000;
  }
}
.app-area #main-layout {
  flex-grow: 7;
  height: 100%;
}
#layout-area {
  height: calc(100%);
  background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAUAAAAFCAYAAACNbyblAAAAJElEQVQYV2NkYGDwZWBgOMvAwGAMoxkZGBikkAVAEiBBClQCAC9jCyH2BRU4AAAAAElFTkSuQmCC)
    repeat;
}
.setting {
  min-width: 200px;
  z-index: 1;
  background: #fff;
  padding: 20px;
  overflow: overlay;
}
</style>