<template>
    <div class="main-user">
        <div class="user-header">
            MY USER
        </div>
        <div class="user-body">
            <div class="user-info">
                <div class="user-input">
                    <div class="input-user">
                        <label style="width: 30%" for="">
                            USERNAME
                        </label>
                        <input disabled type="text" v-model="userInfo.username">
                    </div>
                    <div class="input-user">
                        <label style="width: 30%" for="">
                            EMAIL
                        </label>
                        <input disabled type="text" v-model="userInfo.email">
                    </div>
                    <div class="input-user">
                        <label style="width: 30%" for="">
                            PASSWORD
                        </label>
                        <input type="password" v-model="password">
                    </div>
                    <div class="input-user">
                        <label style="width: 30%" for="">
                            NEWPASSWORD
                        </label>
                        <input type="password" v-model="newPassword">
                    </div>
                    <div class="input-user">
                        <label style="width: 30%" for="">
                            RENEWPASSWORD
                        </label>
                        <input type="password" v-model="reNewPassword">
                    </div>
                    <div @click="changePassword" style="margin: 12px auto;width: 60px!important" class="submit">
                        CHANGE
                    </div>
                </div>
                <div class="user-avatar">

                </div>
            </div>
        </div>
        <div class="footer">

        </div>
    </div>
</template>

<script>
import ApiService from '../services/apiservice'
import Config from '../config/default.json'
import Vue from 'vue'
export default {
    name: 'User',
    data() {
        return {
            userInfo: {},
            password: "",
            newPassword: "",
            reNewPassword: ""
        }
    },
    created() {
        this.baseUrl = Config.BASE_URL
        ApiService.getUserInfo()
        .then(res => {
            console.log(res)
            if( res.code && res.code === 200) {
                this.userInfo = res.content

            }
        })
    },
    mounted() {

    },
    methods: {
        changePassword() {
            if(!this.password) {
                Vue.$toast.warning("PLEASE ENTER YOUR PASSWORD")
                return;
            }
            if(this.newPassword != this.reNewPassword || !this.newPassword) {
                Vue.$toast.warning("NEW PASSWORD NOT MATCH")
                return;
            }
            ApiService.changePassword({
                oldPassword: this.password,
                newPassword: this.newPassword,
                reNewPassword: this.reNewPassword
            })
            .then(res => {
                if(res.code == 200) {
                    Vue.$toast.success("CHANGE PASSWORD SUCCESS")
                    return
                }
                Vue.$toast.success("CHANGE PASSWORD ERROR")
            })
            .catch(() => {
                Vue.$toast.success("SOME THING WENT ERROR")
            })
        }
    }
}
</script>
<style scoped>
.image {
    display: block;
    width: 300px;   
    padding: 24px;
    margin: 24px;
}
.user-image {
    border: 1px solid rgba(132, 132, 132, 0.748);
}
.main-user {
    display: flex;
    width: 100vw;
    flex-direction: column;
}
.user-header {
    display: block;
    padding: 30px;
    font-weight: 700;
    font-size: 17px;
}
.input-user {
    display: flex;
    align-items: center;
    padding: 9px 30px;
    font-size: 16px;
}
.user-avatar {
    width: 50%;
}
.user-input {
    width: 50%;
    margin: auto;
}
.image::after {
    content: ".";
    visibility: hidden;
    display: block;
    height: 0;
    clear: both;
}
</style>